@tailwind base;
@tailwind components;
@tailwind utilities;


.chart-container {
    width: 100%;
    height: 500px;
  }
  
  @media (min-width: 768px) {
    .chart-container {
      height: 600px;
    }
  }
  
  @media (min-width: 1024px) {
    .chart-container {
      height: 700px;
    }
  }
  